.App{
    background-color: rgb(211, 209, 209);
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
}
.container{

    margin: auto;
    height: 90vh;
    width: 95vw;
    background-color: white;
}
.heading{
    border: 1px solid blue;
    text-transform:capitalize;
    height: 70px;
    /* justify-content: center; */
    /* align-items: center; */
}
.heading h1{
    padding-left: 10px;
}